
{{!-- headings component --}}
<div class="flex items-center justify-center space-y-4">
    <div class="w-1/2">
        <h1 class="text-6xl">
            <strong>
                Kasi LifeStyle
            </strong>
        </h1>
    </div>
    
    <div class="w-1/4">
        <button class="bg-[#DB814D] w-1/2 rounded-full transition ease-in-out delay-115 hover:-translate-y-1 hover:scale-100 duration-150">
            <strong>
                log in
            </strong>
        </button>
    </div>
    <div class="w-1/4">
        <button class="border-2 border-black w-1/2 rounded-full transition ease-in-out delay-115 hover:-translate-y-1 hover:scale-100 duration-150">
            <strong>
                sign up
            </strong>
        </button>
    </div>
</div>

<h2 class="text-4xl py-6">
    <strong>
        Footwear
    </strong>
</h2>

{{!-- catagory filtering --}}
<div>
    <strong>
        <span class="hover:text-[#DB814D] text-xl"><a href="/">ALL</a></span>
        <span class="hover:text-[#DB814D] text-xl"><a href="/brand/catagory/men">MEN</a></span>
        <span class="hover:text-[#DB814D] text-xl"><a href="/brand/catagory/women">WOMEN</a></span>
        <span class="hover:text-[#DB814D] text-xl"><a href="/brand/catagory/kids">KIDS</a></span>
    </strong>
</div>


{{!-- messages --}}
{{#if messages.success}}
<p class="flash-messages text-[#0e923c]">
    {{messages.success}}
</p>
{{/if}}

<div class="main">

    {{!-- filtering component --}}
    <div class="filterContainer">
        {{!-- Search filter --}}
        <div class="searchForShoe">
            <div x-show="openModal" style="display: none">
                <input type="text" name="brandname" placeholder="Search a brand name">

                <button type="submit">
                    <svg role="img" height="16" width="16" aria-hidden="true" class="Svg-sc-ytk21e-0 haNxPq CIVozJ8XNPJ60uMN23Yg" viewBox="0 0 16 16" data-encore-id="icon">
                        <path d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z"></path>
                    </svg>
                </button>

                <button @click="openModal = false; hideButton = true">
                    <svg role="img" height="16" width="16" aria-hidden="true" viewBox="0 0 16 16" data-encore-id="icon" class="Svg-sc-ytk21e-0 haNxPq"><path d="M1.47 1.47a.75.75 0 0 1 1.06 0L8 6.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L9.06 8l5.47 5.47a.75.75 0 1 1-1.06 1.06L8 9.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L6.94 8 1.47 2.53a.75.75 0 0 1 0-1.06z"></path></svg>
                </button>
            </div>

            <button @click="openModal = true; hideButton = false" x-show="hideButton" type="submit">
                <svg role="img" height="24" width="24" aria-hidden="true" class="Svg-sc-ytk21e-0 haNxPq CIVozJ8XNPJ60uMN23Yg" viewBox="0 0 16 16" data-encore-id="icon">
                    <path d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z"></path>
                </svg>
            </button>
        </div>
    </div>

    {{!-- Shoes component --}}
    <div class="shoesContainer">
        <div class="cardContainer flex flex-wrap space-y-4">
            {{#each shoes}}
                <div class="card w-full max-w-sm rounded-md overflow-hidden shadow-lg hover:bg-[#fff0bb]">
                    <ul>
                        <a href="/shoe/{{shoe_name}}">
                            <li class="w-full"><img src="{{image}}" alt="{{shoe_name}}" srcset=""></li>
                            <li class="text-left text-xl"><strong>{{shoe_name}}</strong></li>
                            <li class="text-left"><span><a href="">{{description}}</a></li>
                            <li class="text-left"><strong>R{{shoe_price}}</strong></li>

                            <form action="/brand/shoes/sold/updateInventory/{{shoe_id}}" method="post">
                                <li><button class="bg-[#ffa470] hover:bg-[#DB814D] w-1/2 rounded-full"><strong>Quick Add+</strong></button></li>
                            </form>
                        </a>
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- Anchor tag component --}}
<div class="anchorTags">
    <strong>
        <span class="hover:text-[#DB814D]"><a href="">Prev</a></span>
        <span class="hover:text-[#DB814D]"><a href="">1</a></span>
        <span class="hover:text-[#DB814D]"><a href="">2</a></span>
        <span class="hover:text-[#DB814D]"><a href="">3</a></span>
        <span class="hover:text-[#DB814D]"><a href="">...</a></span>
        <span class="hover:text-[#DB814D]"><a href="">4</a></span>
        <span class="hover:text-[#DB814D]"><a href="">Next</a></span>
    </strong>
</div>