<h2 class="text-4xl">
    <strong>
        Footwear
    </strong>
</h2>

<div class="cardContainer flex flex-wrap space-y-4">
    {{#each shoe}}
    <div class="card w-full max-w-sm rounded-md overflow-hidden shadow-lg hover:bg-[#fff0bb]">
        <ul>
            <li class="w-full">{{image}}<li>
            <li class="text-left"><span>Brand:</span>{{shoe_name}}</li>
            <li class="text-left"><span>Shoe quantity:</span>{{shoe_qty}}</li>
            <li class="text-left"><span>Shoe size:</span>{{shoe_size}}</li>
            <li class="text-left"><span>Shoe color:</span>{{shoe_color}}</li>
            <li class="text-left"><span>Shoe price:</span>{{shoe_price}}</li>
            <li><button class="bg-[#ffa470] hover:bg-[#DB814D] w-1/2 rounded-full">Quick Add+</button></li>
        </ul>
    </div>
    {{/each}}
</div>