<div class="flex items-center justify-center space-y-4">
    <div class="w-1/2">
        <h1 class="text-6xl">
            <strong>
                Kasi LifeStyle
            </strong>
        </h1>
    </div>
    
    <div class="w-1/4">
        <button class="bg-[#DB814D] w-1/2 rounded-full transition ease-in-out delay-115 hover:-translate-y-1 hover:scale-100 duration-150">
            <strong>
                log in
            </strong>
        </button>
    </div>
    <div class="w-1/4">
        <button class="border-2 border-black w-1/2 rounded-full transition ease-in-out delay-115 hover:-translate-y-1 hover:scale-100 duration-150">
            <strong>
                sign up
            </strong>
        </button>
    </div>
</div>

<div>
    <h2 class="text-4xl py-6">
        <strong>
            Footwear
        </strong>
    </h2>
    <div>
        <strong>
            <span class="hover:text-[#DB814D] text-xl"><a href="/">ALL</a></span>
            <span class="hover:text-[#DB814D] text-xl"><a href="/brand/catagory/men">MEN</a></span>
            <span class="hover:text-[#DB814D] text-xl"><a href="/brand/catagory/women">WOMEN</a></span>
            <span class="hover:text-[#DB814D] text-xl"><a href="/brand/catagory/kids">KIDS</a></span>
        </strong>
    </div>
</div>

{{#if messages.success}}
<p class="flash-messages text-[#0e923c]">
    {{messages.success}}
</p>
{{/if}}

<div class="main">
    {{!-- <div class="filterContainer">
        <div>
            <strong>Brands</strong>

            <label for="">
                <input
                  type="checkbox"
                  name=""
                  value=""
                />
            </label>
        </div>

        <div>
            <strong>Sizes</strong>
            <label for="">
                <input
                  type="checkbox"
                  name=""
                  value=""
                />
            </label>
        </div>

        <div>
            <strong>Prices</strong>
            <label for="">
                <input
                  type="checkbox"
                  name=""
                  value=""
                />
            </label>
        </div>

        <button type="submit">Search</button>
    </div> --}}

    <div>
        <div class="shoesContainer">
            <div class="cardContainer flex flex-wrap space-y-4">
                {{#each shoes}}
                <div class="card w-full max-w-sm rounded-md overflow-hidden shadow-lg hover:bg-[#fff0bb]">
                    <ul>
                        <a href="">
                            <li class="w-full"><img src="{{image}}" alt="{{shoe_name}}" srcset=""></li>
                            <li class="text-left text-xl"><strong>{{shoe_name}}</strong></li>
                            <li class="text-left"><span><a href="">{{description}}</a></li>
                            <li class="text-left"><strong>R{{shoe_price}}</strong></li>
                            <li><button class="bg-[#ffa470] hover:bg-[#DB814D] w-1/2 rounded-full"><strong>Quick Add+</strong></button></li>
                        </a>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="anchorTags">
            <div>
                <strong>
                    <span class="hover:text-[#DB814D]"><a href="">Prev</a></span>
                    <span class="hover:text-[#DB814D]"><a href="">1</a></span>
                    <span class="hover:text-[#DB814D]"><a href="">2</a></span>
                    <span class="hover:text-[#DB814D]"><a href="">3</a></span>
                    <span class="hover:text-[#DB814D]"><a href="">...</a></span>
                    <span class="hover:text-[#DB814D]"><a href="">4</a></span>
                    <span class="hover:text-[#DB814D]"><a href="">Next</a></span>
                </strong>
            </div>
        </div>
    </div>
</div>